<h1>Sign Up for Fwitter</h1>
<form action="/signup" method="post">
<p>
  <label for="username">Username: </label>
  <input id="username" name="username" type="text" required>
</p>
<p>
  <label for="email">Email: </label>
  <input id="email" name="email" type="email" required>
</p>
<p>
  <label for="password">Password: </label>
  <input id="password" name="password" type="password" required>
</p>
<input type="submit" value="Submit">
</form>
<<<<<<< HEAD
<p>Already signed up? <a href="/login">Log In Here</a></p>
=======
>>>>>>> 5bd35b730cf58c5ccf23ab67a13c021017f1773c
