<h1>Log In to Fwitter</h1>
<form action="/login" method="post">
  <p>
    <label for="username">Username: </label>
    <input id="username" name="username" type="text" required>
  </p>
  <p>
    <label for="password">Password: </label>
    <input id="password" name="password" type="password" required>
  </p>
  <input type="submit" id="submit" value="Log In">
</form>
<p>Don't have a login? <a href="/signup">Sign Up Here</a></p>
