<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
<<<<<<< HEAD
    <% if logged_in? %>
      <header>
        Welcome, <%=current_user.username%>
        <button style="float:right"><a href="/logout">Log Out</a></button>
      </header>
    <% end %>
=======
>>>>>>> 5bd35b730cf58c5ccf23ab67a13c021017f1773c
    <%= yield %>
  </body>
</html>
