<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
    <% if logged_in? %>
      <header>
        Welcome, <%=current_user.username%>
        <button style="float:right"><a href="/logout">Log Out</a></button>
      </header>
    <% end %>
    <%= yield %>
  </body>
</html>
